body{
	background-color: #404040;
}

h1{
	color: #FFF;
	font-family: "Comic Sans MS", sans-serif;
}
p {
	color : white;

}
#video, #image{
	border: 2px solid #FFF;
}

#snap,#snap_black_white,#send_snap,#snap_inverse{
	background-color: #ccc;
	color: maroon;
	font-weight: bolder;
	padding: 10px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}